<div class="module box <%= renderer.container_class %>"<%=raw renderer.saving_state_enabled? && %Q{ data-toggle="#{renderer.id}"} || nil %>>
  <%= content_tag(:div, class: 'module-heading ' + renderer.heading_class, onclick: (renderer.collapsible? && 'EasyToggler.toggle(this.nextElementSibling, event)' || nil)) do %>
    <%= content_tag(renderer.heading_tag, renderer.heading, class: renderer.icon) %>
    <% if renderer.heading_links.presence %>
      <div class="module-heading-links">
        <a class="module-heading-links__control icon-more-horiz control--<%= renderer.id %>" title="<%= l(:button_heading_links) %>" aria-label="<%= l(:button_heading_links) %>" role="button"></a>
        <ul class="module-heading-links__tooltip tooltip tooltip--<%= renderer.id %>">
          <%= renderer.heading_links %>
          <% if renderer.collapsible? -%>
            <li><span href="#" class="icon-chevron-up module__expander" data-cy="expander__toggle--module" title="Expander" aria-label="Expander" role="button">&nbsp;</span></li>
          <% end -%>
        </ul>
        <script>
          EASY.schedule.require(function(){
            $('.control--<%= renderer.id %>').toggleable({
              observer: EASY.defaultClickObserver,
              content: $('.tooltip--<%= renderer.id %>')
            })},function () {
            return EASY.defaultClickObserver;
          })
        </script>
      </div>
    <% end -%>
  <% end if renderer.heading.present? %>
  <div class="module-content" id="<%= renderer.id %>"<%=raw renderer.collapsed? && %q{ style="display:none"} || nil %>>
    <%= content -%>
    <%= content_tag(:div, class: 'module-content-footer') do %>
      <%= renderer.footer %>
    <% end if renderer.footer.present? %>
  </div>
</div>
